.buy {
  background   : linear-gradient(264.63deg, #00EBDD 6.47%, #009692 103.56%);
  border-radius: 8px;
  margin-block : 10px;
  padding-block: 17px;

  font-weight   : 900;
  font-size     : 20px;
  line-height   : 24px;
  letter-spacing: 0.01em;
}
.buy:disabled{
  opacity: .5
}