.main {
    padding: 0 9vw 0;
}


.Montserrat700_2 {
    font-style    : normal;
    font-weight   : 700;
    font-size     : 4.5rem;
    line-height   : 3.5rem;
    /* or 100% */
    letter-spacing: 0.02em;
    color         : #000;
    text-align    : center;
    margin-bottom : 5vw;
}



.font_au {

    font-style : normal;
    font-weight: 400;
    font-size  : 27px;
    line-height: 32px;
    /* or 128% */

    letter-spacing: 0.03em;

    color: #000;

}