@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding   : 0;
  margin    : 0;
}

body {
  display    : block;
  max-width  : 100vw;
  overflow-x : hidden;
  position   : relative;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 59%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

h1,
h2,
h3,
label,
button,
span,
p {
  color: #FFFFFF;
}