.closeFilterBtn {
  background   : black;
  border-radius: 8px;
  margin-top   : 24px;
  padding-block: 17px;

  font-weight   : 900;
  font-size     : 17px;
  line-height   : 21px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color         : white;
  cursor        : pointer;
}

.closeFilterBtn:disabled {
  filter: brightness(0.8);
}

.closeFilterBtn:not(:disabled):hover {
  filter: brightness(0.9);
}

.closeFilterBtn:not(:disabled):focus {
  background: blueviolet;
}

.closeFilterBtn:not(:disabled):active {
  background: red;
}