.buy {
  background   : black;
  border-radius: 8px;
  padding-block: 17px;
  margin-bottom: 2px;

  border        : 1px solid black;
  font-weight   : 900;
  font-size     : 17px;
  line-height   : 21px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color         : white;
  cursor        : pointer;

}


.buy:disabled {
  background: grey;
  border    : grey;
  cursor    : not-allowed;
}

.buy:not(:disabled):hover {
  background: white;
  border    : 1px solid black;
  color     : black
}

.buy:not(:disabled):focus {
  background: green;
  border    : green;
}

.buy:not(:disabled):active {
  background: green;
  border    : green;
}