.main {
    padding: 9vw 9vw 0;
}


.Montserrat700_2 {
    font-style    : normal;
    font-weight   : 700;
    font-size     : 80px;
    line-height   : 80px;
    /* or 100% */
    letter-spacing: 0.02em;
    color         : #F5F5F5;
}


.flex_colomn {
    display       : flex;
    flex-direction: column;
}


.flex_around {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}



.bc_block1 {
    position     : absolute;
    background   : #29D9CE;
    border-radius: 10px;
    position     : absolute;
    height       : 28vw;
    width        : 93%;
    z-index      : -1;
    transform    : translate(-0.5vw, 1.8vw);
}

.bc_block2 {
    background   : #29D9CE;
    border-radius: 10px;
    position     : absolute;
    height       : 18vw;
    width        : 80%;
    z-index      : -1;
    transform    : translate(-0.5vw, 1.5vw);
}

.right_hand {
    position           : absolute;
    right              : 0;
    top                : 6%;
    z-index            : -1;
    width              : 32%;
    -moz-user-select   : none;
    -o-user-select     : none;
    -khtml-user-select : none;
    -webkit-user-select: none;
    user-select        : none;
}

.left_hand {
    position           : absolute;
    left               : 0;
    bottom             : -9%;
    width              : 26%;
    z-index            : -1;
    -moz-user-select   : none;
    -o-user-select     : none;
    -khtml-user-select : none;
    -webkit-user-select: none;
    user-select        : none;
}

.div_left_hand {

    background-image     : url("/public/main-images/left_hand.png");
    background-size      : cover;
    background-attachment: fixed;
    background-repeat    : no-repeat;

}


.font_au {

    font-style : normal;
    font-weight: 400;
    font-size  : 27px;
    line-height: 32px;
    /* or 128% */

    letter-spacing: 0.03em;

    color: #F5F5F5;

}