.main {
    padding: 10vw 9vw 0;
}



.Montserrat700_2 {
    font-style    : normal;
    font-weight   : 700;
    font-size     : 80px;
    line-height   : 80px;
    /* or 100% */
    letter-spacing: 0.02em;
    color         : black;
    text-align    : center;
    margin-bottom : 5vw;
}

.bg_sky {
    background-image: url(/public/main-images/sky.png);
    background-size : contain;
}



.right_hand,
.left_hand {
    position           : absolute;
    right              : 0;
    top                : 6%;
    z-index            : -1;
    width              : 27%;
    -moz-user-select   : none;
    -o-user-select     : none;
    -khtml-user-select : none;
    -webkit-user-select: none;
    user-select        : none;
}

.left_hand {
    left     : 0;
    transform: rotate(-6deg);
    width    : 28%;
}




.font_au {

    font-style : normal;
    font-weight: 400;
    font-size  : 27px;
    line-height: 32px;
    /* or 128% */

    letter-spacing: 0.03em;

    color: black;

}