.btn {
    position      : absolute;
    /** calc(10px + ...) - из-за самой картинки */
    top           : 90%;
    right         : max(15px, 5%);
    padding       : 0.17vw 1vw 0.25vw 1vw;
    box-shadow    : 0px 2px 15px rgba(0, 0, 0, 0.1);
    cursor        : pointer;
    border        : none;
    background    : linear-gradient(102.46deg, #03F0E1 2.3%, #226992 105.5%);
    box-shadow    : 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius : 30px;
    /** Текст кнопки */
    font-style    : normal;
    font-weight   : 400;
    font-size     : 1.5vw;
    text-align    : center;
    letter-spacing: 0.04em;
    z-index       : 1;
}

/* .btn>img {
    width: 1vw;
} */

.ramochka_child,
.ramochka_man,
.ramochka_woman {
    position         : relative;
    height           : 34.467vw;
    background-repeat: no-repeat;
    background-size  : cover;
    border-radius    : 1vw;
    transition       : 0.15s;
}

.ramochka_child:hover,
.ramochka_man:hover,
.ramochka_woman:hover {
    transform: scale(1.03);
}

.ramochka_child {
    background-image: url(/main-images/try1.webp);
    background-size : cover;
}

.ramochka_man {
    background-image: url(/main-images/man.png);
}

.ramochka_woman {
    background-image: url(/main-images/woman.png);
}

.container {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap      : clamp(10px, 0.78vw, 15px);
    grid-row-gap         : 1em;
    margin-top           : 2vw;
}

.catalog_button {
    background    : linear-gradient(102.46deg, #03F0E1 2.3%, #226992 105.5%);
    box-shadow    : 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius : 50px;
    width         : 24vw;
    height        : 4.5vw;
    font-style    : normal;
    font-weight   : 700;
    font-size     : 40px;
    line-height   : 39px;
    /* identical to box height, or 98% */
    text-align    : center;
    letter-spacing: 0.04em;
    color         : #FAFAFA;
}


.jost_p_center {
    font-style    : normal;
    font-weight   : 400;
    font-size     : 25px;
    line-height   : 29px;
    /* or 152% */
    text-align    : center;
    letter-spacing: 0.04em;
    color         : white;
}