.h1 {
    font-family: 'Noto Sans';
    font-style : normal;
    font-weight: 500;
    font-size  : 62px;
    line-height: 74px;
    /* or 119% */

    text-transform: uppercase;
    color         : #000000;
}


.span {
    color: #29D9CE;
}

.noto_offer {
    font-family: 'Noto Sans';
    font-style : normal;
    font-weight: 400;
    font-size  : 22px;
    line-height: 32px;
    /* or 145% */


    color: #000000;
}

.noto_font {
    font-family: 'Noto Sans';
    font-style : normal;
    color      : #000000;
}

.button_main {
    background    : black;
    border-radius : 8px;
    margin-top    : 5px;
    font-style    : normal;
    font-weight   : 700;
    font-size     : 40px;
    line-height   : 39px;
    /* identical to box height, or 98% */
    text-align    : center;
    letter-spacing: 0.04em;
    color         : #FAFAFA;
    z-index       : 2;
    position      : relative;
}

/* Задний фон */


.Logotip {
    position: absolute;
    width   : 65vw;
    height  : auto;
    bottom  : 12vh;
    z-index : -1;
    right   : 0%;
    top     : -15%;
}