.h2 {
    font-family   : 'Noto Sans';
    font-style    : normal;
    font-weight   : 500;
    font-size     : 62px;
    line-height   : 84px;
    text-transform: uppercase;
    color         : #000000;
}