.h1 {
    font-style    : normal;
    font-weight   : 900;
    font-size     : 5rem;
    line-height   : 107.02%;
    /* or 86px */
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color         : #FFFFFF;
}




.span {
    color: #29D9CE;
}

.jost_offer {
    font-style    : normal;
    font-weight   : 400;
    font-size     : 25px;
    line-height   : 26px;
    /* or 106% */
    letter-spacing: 0.04em;
    color         : #F5F5F5;
}

.button_main {
    background    : linear-gradient(32.57deg, #006B68 24.41%, #00BCB1 101.79%);
    border-radius : 8px;
    margin-top    : 5px;
    font-style    : normal;
    font-weight   : 700;
    font-size     : 40px;
    line-height   : 39px;
    /* identical to box height, or 98% */
    text-align    : center;
    letter-spacing: 0.04em;
    color         : #FAFAFA;
}

/* Задний фон */
.waves {
    /* background-image: url("/public/main-images/waves.png");
    background-size : contain; */

    position: absolute;
    width   : 125vw;
   
    top     : 4.5%;
    left    : 0%;
    z-index : 1;


    overflow: hidden;
}


.waves1 {
    background-image: url("../../../public/main-images/waves.png");
   
    background-size : cover;

    position: relative;

    height : 200px;
    top    : 4.5%;
    left   : 0%;
    z-index: 1;
width: 100vw;
    transform: scale(1.5);
    overflow : hidden;
}

.krugmain {
    position       : absolute;
    left           : 60%;
    width          : 24.5vw;
    aspect-ratio   : 1/1;
    top            : 4%;
    background     : linear-gradient(180deg, rgba(3, 240, 225, 0.85) 47.97%, #010101 100%);
    box-shadow     : 0px -10px 64px #29D9CE;
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
}

.krug1 {
    position     : absolute;
    width        : 7.9vw;
    aspect-ratio : 1/1;
    left         : 4.5%;
    top          : 36.7vw;
    background   : linear-gradient(222.74deg, #29D9CE 16.39%, rgba(14, 143, 184, 0) 88.2%);
    transform    : rotate(-41.79deg);
    border-radius: 50%;
}

.krug2 {
    position     : absolute;
    width        : 11.2vw;
    aspect-ratio : 1/1;
    left         : 29%;
    top          : 26vw;
    background   : linear-gradient(222.74deg, #29D9CE 16.39%, rgba(14, 143, 184, 0) 88.2%);
    transform    : rotate(-54.33deg);
    border-radius: 50%;
    z-index      : -1;
}

.krug3 {
    position     : absolute;
    width        : 4.38vw;
    aspect-ratio : 1/1;
    left         : 49%;
    top          : 22vw;
    background   : linear-gradient(222.74deg, #29D9CE 16.39%, rgba(14, 143, 184, 0) 88.2%);
    transform    : rotate(-58.74deg);
    border-radius: 50%;
}

.krug4 {
    position     : absolute;
    width        : 5.7vw;
    aspect-ratio : 1/1;
    left         : 88.3%;
    top          : 22.3vw;
    background   : linear-gradient(222.74deg, #29D9CE 16.39%, rgba(14, 143, 184, 0) 88.2%);
    transform    : rotate(-68.55deg);
    border-radius: 50%;
}

.Logotip {
    width    : 28vw;
    height   : auto;
    position : absolute;
    right    : 0.5%;
    bottom   : 6vw;
    z-index  : 1;
    transform: rotate(-26.72deg);
}