.h1 {
    font-style    : normal;
    font-weight   : 900;
    font-size     : 3.9rem;
    line-height   : 107.02%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color         : #000;
    margin-top    : 1.5vw;
}